@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Noto Sans Thai', sans-serif;
}

.login {
    background: #FFFFFF;
    border: 3px solid #4B785E;
    border-radius: 8px;
}
::placeholder{
    color: #999;
    font-size: 14px;
}
.fhead{
    font-size: 24px;
}
.ftitle{
    font-size: 18px;
}

.fsub{
    font-size: 14px;
}
.fbody, .flink{
    font-size: 12px;
}
.fnote{
    font-size: 10px;
}
main{
    margin-left: 20px;
}
body{
    background-color: #eee;
    width: 97%;
    height: 100%;
}

#side_nav{
    background: #F5F5F5;
}

.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background: #eee;
}

#overflowTest {
    background: #F5F5F5; 
    padding: 10px;
    width: 100%;
    height: 65%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#filter{
    border-radius: 100%;
    padding: 10px;
    margin: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

input:disabled , #detail, #Detail{
    background-color: #5F7769;
    color: #999;
}
.form-control:disabled{
    color: #fff;
}
.form-check-input{
    width: 24px;
    height: 24px;
}

.btn{
    font-size: 18px;
}