@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Noto Sans Thai', sans-serif;
}

.login {
    background: #FFFFFF;
    border: 3px solid #4B785E;
    border-radius: 8px;
}
::placeholder{
    color: #999;
    font-size: 14px;
}
.fhead{
    font-size: 24px;
}
.ftitle{
    font-size: 18px;
}

.fsub{
    font-size: 14px;
}
.fbody, .flink{
    font-size: 12px;
}
.fnote{
    font-size: 10px;
}
main{
    margin-left: 20px;
}
body{
    background-color: #eee;
    width: 97%;
    height: 100%;
}

#side_nav{
    background: #F5F5F5;
}

.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background: #eee;
}

#overflowTest {
    background: #F5F5F5; 
    padding: 10px;
    width: 100%;
    height: 65%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#filter{
    border-radius: 100%;
    padding: 10px;
    margin: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.date-picker {
    display: inline-block;
    background: rgba(40, 40, 250, .1);
    min-width: 10rem;
    min-height: 2rem;
    padding: .5rem;
    border-radius: .35rem;
    position: relative;
    isolation: isolate;
  }
  
  .date-picker,
  .date-picker>* {
    cursor: text;
    font-size: 1.2rem;
  }
  
  .date-picker:hover {
    background: rgba(40, 40, 250, .28);
  }
  
  .date-picker:active {
    background: rgba(40, 40, 250, .2);
  }
  
  .date-picker:focus>input[type="date"],
  .date-picker:focus-within>input[type="date"] {
    color: #00f;
  }
  
  .date-picker:focus,
  .date-picker:focus-within {
    box-shadow: 0 0 0 .1rem #00f;
  }
  
  .date-picker>.placeholder::after {
    content: "Click for calender";
    pointer-events: none;
    position: absolute;
    inset: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #222;
  }
  
  .date-picker:focus>.placeholder,
  .date-picker:focus-within>.placeholder,
  .date-picker>input[type="date"]:valid+.placeholder {
    display: none;
  }
  
  .date-picker>input[type="date"] {
    background: none;
    border: none;
    outline: none;
    color: transparent;
    font-family: serif;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .date-picker>input[type="date"]:valid {
    color: #00f !important;
  }